body{
    padding: 0 ;
    margin: 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start nav bar coding*/

a{
    color: inherit;
}

#navbar{
    width: 100%;
    height: 100px;
    background-color: #22157B;
}

#logo-con{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-top: 2.5px;
    box-shadow:  0px 0px 10px grey;
    float: left;
    margin-left: 20px;
    background-image: url(../images/med3.png);
    background-size: cover;
}
#brand-name-con{
    float: left;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    padding: 12px;
}

#brand-name{
    font-size: 30px;
    font-family: 'Baloo Chettan', cursive;
    font-weight: bold;
    color: #ffff;
}

#right-con{
    float: left;
    width: 50%;
    height: 60px;
    margin-top: 40px;
    padding: 10px;
}

#item-con{
    list-style-type: none;
}
#item-con li{
    display: inline;
    margin-left: 20px;
    padding: 18px;
}

#item-con li:hover{
    background-color: #5B48D9;
}
a{
    text-decoration: none;
}
#item{
    font-size: 24px;
    font-family: 'Baloo Chettan', cursive;
    font-family: 'Amaranth', sans-serif;
    color: #ffff;
    font-weight: bold;
}

#login-signup-con{
    float: right;
    margin-right: 40px;
    margin-top: 43px;
}
#login-signup-con ul{
    text-decoration: none;
    padding: 8px;
}

#login-signup-con ul li{
    display: inline;
    padding: 10px;
}

#login-signup-con ul li a{
    font-size: 18px;
    font-weight: normal;
    color: #ffff;
    font-family: cursive;
}
#login-signup-con ul li:hover{
    
    background-color: #5B48D9;
}

/* start search container coding*/

#search-con{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #5B48D9;
}
#search-con input[name="search-location"]{
    
    height: 80%;
    width: 200px;
    float: left;
    margin-left: 30%;
    margin-top: 5px;
    font-size: 18px;
    padding: 8px;
    font-family: FontAwesome;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    border-right: 2px solid #7F7F7F;
   
}
#search-con input[name="search-product"]{
    
    height: 80%;
    width: 370px;
    float: left;
    margin-left: 0%;
    margin-top: 5px;
    font-size: 18px;
    padding: 8px;
    font-family: FontAwesome;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}


#section{
    width: 100%;
    float: left;
}

#product{
    width: 250px;
    height: 300px;
    float: left;
    padding: 20px;
    margin-left: 18px;
    margin-top: 20px;
}
#product1-logo,#product2-logo,#product3-logo,#product4-logo,#product5-logo,#product6-logo,#product7-logo,#product8-logo,#product9-logo,#product10-logo{
    width: 175px;
    height: 175px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

#product-name-con1{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name1{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con2{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name2{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
   /* margin-left: 1px;
    text-align: center;*/
    color: white;
}

#product-name-con3{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name3{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
   /* margin-left: 60px;
    text-align: center;*/
    color: white;
}

#product-name-con4{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name4{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con5{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name5{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con6{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name6{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con7{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name7{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con8{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name8{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con9{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name9{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product-name-con10{
    width: 100%;
    height: 135px;
   margin-top: 165px;
    padding: 10px;
    background-color: grey;
}

#product-name10{
    font-family: inherit;
    font-size: 15px;
    color: #F63562;
    font-weight: bold;
    /*margin-left: 5px;
    text-align: center;*/
    color: white;
}

#product1-logo{
    background-image: 
        url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1537709312/t487mxc3oxcpoha1el1c/zincovit-tablet.jpg);
    background-size: cover;
}

#product2-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1537453927/zcbn54rz361ros0babrs/shelcal-hd-tablet.jpg);
    background-size: cover;
}

#product3-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1538120164/z4egzrtrscuoyzoosjzh/revital-h-capsule.png);
    background-size: cover;
}

#product4-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/vekrhh8wcpeltvxtswap/calcirol-sachet.jpg);
    background-size: cover;
}

#product5-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1537708961/nybe1jbxnlkzcpqk7lju/orofer-xt-tablet.jpg);
    background-size: cover;
}

#product6-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1538120083/kxl9qneeyizl3sdzlye5/revital-h-woman-tablet.png);
    background-size: cover;
}

#product7-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1535629115/lixznbpev0p5owtoy75v/shelcal-xt-tablet.jpg);
    background-size: cover;
}

#product8-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1534770582/x9e3jkaslq2h3oeluwps/cipcal-500-tablet.jpg);
    background-size: cover;
}

#product9-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1527769634/m4r3qbjwryraqzjibcud/musclexp-hair-skin-nails-advanced-multivitamin-tablet.jpg);
    background-size: cover;
}

#product10-logo{
    background-image: url(https://res.cloudinary.com/du8msdgbj/images/w_150,h_150,c_fit,q_auto,f_auto/v1537732313/qiirszqwd8qr3gheszjr/hairbless-tablet.jpg);
    background-size: cover;
}

#footer{
    height: 250px;
    width: 100%;
    border: 1px solid;
    float: left;
    background-color: #22157B;
    margin-top: 50px;
}

#fline{
    font-style: italic;
    padding: 50px;
}

#ficons{
    padding: 10px;
    margin-left: 600px;
    float: left;
   /* border: 1px solid red;*/
}

#fstatements{
    margin-left: 1000px;
    float: left;
    padding: 5px;
    margin-top: -120px;
    margin-right: 50px;
}